.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background: #df5656;
}

.sideBar {
    margin-top: 5%;
    border-right: 1px #e3dfdf solid;
    height: 600px;
}

.mainContaint {
    margin-top: 5%;
}

div {
    color: #337ab7!important;
}

.disabledText {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    font-size: 85%;
    font-weight: normal;
    letter-spacing: 1px;
    color: #51586a;
    text-transform: uppercase;
}

.mainContaint div:hover {
    background: antiquewhite;
}
