<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">

                <h1 class="header">{{title}}
                    <span *ngIf="isLoggedIn " class="pull-right userDetails">
                    <a href="/dashboard"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                      </a> Welcome {{userName}}, <a href="#" (click) = '(logout())'>logout</a>
                    </span>
                </h1>
            </div>
        </div>
        <router-outlet></router-outlet>


    </div>
</div>
